<a href="https://colab.research.google.com/github/PaulFSherwood/python/blob/master/AI/pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Loading data into Pandas**

In [5]:
## Complete Python Pandas Data Science Tutorial! (Reading CSV/Excel files, Sorting, Filtering, Groupby)
## https://www.youtube.com/watch?v=vmEHCJofslg&t=266s
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/PaulFSherwood/python/master/AI/pokemon_data.csv')
# print(df.head(10))
# print(df.tail(2))

# **Reading Data into Pandas**

In [123]:
## Read Headers
# print(df.columns)  # print headers
df.columns

#####     #####     #####     #####     #####
## Read each Column
## print(df[['Name', 'Type 1', 'HP']].head(10))  # print top ten rows

#####     #####     #####     #####     #####
## Read Each Row
## print(df.iloc[1])                             # print location 1
## print(df.iloc[2:5])                           # print series of rows


# [ ***** ] #
# Make sure the values with digits and T/F do not have quotes around them
# Or it will think it is looking for a string over a integer/bool
# [ ***** ] #

# for index, row in df.iterrows():          ## trying to narrow down selection
#   data = row['Legendary']                 ##
#   if data == True:                        ##
#     print(index, row)                     ##

  # if df.iloc[index, row] == 'TRUE':
  #if "TRUE" in row[11]:
  #print(index, row[11])
  #print(index, row['Legendary'])
# df.loc[df['Type 1'] == "Fire"]  # Narrows to Fire only format is great
#     [(     CONDITION 1       ) & (     CONDITION 2      )]
df.loc[(df['Legendary'] == True) & (df['Type 1'] == "Fire")].head(10)  # MULTIPL conditions
#df.loc[df['Type 1'] == "Fire"].head(3)   # one condition

#####     #####     #####     #####     #####
## Read a specific location (R, C)
#  print(df.iloc[2, 11])

# df.describe() #  get some stats

       #       Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
158  146    Moltres   Fire  Flying  ...       85     90           1       True
263  244      Entei   Fire     NaN  ...       75    100           2       True
270  250      Ho-oh   Fire  Flying  ...      154     90           2       True
542  485    Heatran   Fire   Steel  ...      106     77           4       True
799  721  Volcanion   Fire   Water  ...       90     70           6       True

[5 rows x 12 columns]