<a href="https://colab.research.google.com/github/PaulFSherwood/python/blob/master/AI/pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Loading data into Pandas**

In [2]:
## Complete Python Pandas Data Science Tutorial! (Reading CSV/Excel files, Sorting, Filtering, Groupby)
## https://www.youtube.com/watch?v=vmEHCJofslg&t=266s
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/PaulFSherwood/python/master/AI/pokemon_data.csv')
# print(df.head(10))
# print(df.tail(2))

# **Reading Data into Pandas**

In [32]:
## Read Headers
# print(df.columns)  # print headers
df.columns

#####     #####     #####     #####     #####
## Read each Column
## print(df[['Name', 'Type 1', 'HP']].head(10))  # print top ten rows

#####     #####     #####     #####     #####
## Read Each Row
## print(df.iloc[1])                             # print location 1
## print(df.iloc[2:5])                           # print series of rows


# [ ***** ] #
# Make sure the values with digits and T/F do not have quotes around them
# Or it will think it is looking for a string over a integer/bool
# [ ***** ] #

# for index, row in df.iterrows():          ## trying to narrow down selection
#   data = row['Legendary']                 ##
#   if data == True:                        ##
#     print(index, row)                     ##


# print(index, row[11])
# df.loc[df['Type 1'] == "Fire"]  # Narrows to Fire only format is great


#     [(     CONDITION 1       ) & (     CONDITION 2      )]
# df.loc[(df['Legendary'] == True) & (df['Type 1'] == "Fire")].head(10)  # MULTIPL conditions
# df.loc[df['Type 1'] == "Fire"].head(3)   # one condition


#####     #####     #####     #####     #####
## Read a specific location (R, C)
#  print(df.iloc[2, 11])

#####     #####     #####     #####     #####
## Sorting stats
# df.describe() #  get some stats
# df.sort_values('Name', ascending=False)
# df.sort_values(['Name', 'HP'], ascending=[1, 1]).head(10) # ascending=False).head(5)
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']
# df = df.drop(columns=['Total'])
# df['Total'] = df.iloc[:, 4:10].sum(axis = 1)
# ### df.to_csv('modified.csv', index=False)  ## you can remove , index=False if you want the indexs in the output.
# df.head(5)

#####     #####     #####     #####     #####
## Narrowing search & resetting the index
# new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
# new_df.reset_index(drop=True, inplace=True)
# print(new_df)

#####     #####     #####     #####     #####
## Filter out name
# df.loc[df['Name'].str.contains('Mega')]  # shows only cells with name 'Mega'
# df.loc[~df['Name'].str.contains('Mega')]  # shows only cells that don't have name 'Mega'

#####     #####     #####     #####     #####
## Filter with regex
import re                                    # ignore case
# df.loc[df['Type 1'].str.contains('Fire|grass', flags=re.I, regex=True)] # using either / or
# df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)] # search for names that start with

#####     #####     #####     #####     #####
## Change Name
df.loc[df['Type 2'] == 'NaN', 'Type 2'] = '-----'
df

       #                   Name   Type 1  ... Generation  Legendary  Total
0      1              Bulbasaur    Grass  ...          1      False    318
1      2                Ivysaur    Grass  ...          1      False    405
2      3               Venusaur    Grass  ...          1      False    525
3      3  VenusaurMega Venusaur    Grass  ...          1      False    625
4      4             Charmander   Flamer  ...          1      False    309
..   ...                    ...      ...  ...        ...        ...    ...
795  719                Diancie     Rock  ...          6       True    600
796  719    DiancieMega Diancie     Rock  ...          6       True    700
797  720    HoopaHoopa Confined  Psychic  ...          6       True    600
798  720     HoopaHoopa Unbound  Psychic  ...          6       True    680
799  721              Volcanion   Flamer  ...          6       True    600

[800 rows x 13 columns]