<a href="https://colab.research.google.com/github/PaulFSherwood/python/blob/master/AI/pokemon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Loading data into Pandas**

In [5]:
## Complete Python Pandas Data Science Tutorial! (Reading CSV/Excel files, Sorting, Filtering, Groupby)
## https://www.youtube.com/watch?v=vmEHCJofslg&t=266s
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/PaulFSherwood/python/master/AI/pokemon_data.csv')
# print(df.head(10))
# print(df.tail(2))

# **Reading Data into Pandas**

In [128]:
## Read Headers
# print(df.columns)  # print headers
df.columns

#####     #####     #####     #####     #####
## Read each Column
## print(df[['Name', 'Type 1', 'HP']].head(10))  # print top ten rows

#####     #####     #####     #####     #####
## Read Each Row
## print(df.iloc[1])                             # print location 1
## print(df.iloc[2:5])                           # print series of rows


# [ ***** ] #
# Make sure the values with digits and T/F do not have quotes around them
# Or it will think it is looking for a string over a integer/bool
# [ ***** ] #

# for index, row in df.iterrows():          ## trying to narrow down selection
#   data = row['Legendary']                 ##
#   if data == True:                        ##
#     print(index, row)                     ##

  # if df.iloc[index, row] == 'TRUE':
  #if "TRUE" in row[11]:
  #print(index, row[11])
  #print(index, row['Legendary'])
# df.loc[df['Type 1'] == "Fire"]  # Narrows to Fire only format is great
#     [(     CONDITION 1       ) & (     CONDITION 2      )]
df.loc[(df['Legendary'] == True) & (df['Type 1'] == "Fire")].head(10)  # MULTIPL conditions
#df.loc[df['Type 1'] == "Fire"].head(3)   # one condition

#####     #####     #####     #####     #####
## Read a specific location (R, C)
#  print(df.iloc[2, 11])

# df.describe() #  get some stats
# df.sort_values('Name', ascending=False)
df.sort_values(['Name', 'HP'], ascending=[1, 1]).head(10) # ascending=False).head(5)

       #                       Name   Type 1  ... Speed  Generation  Legendary
510  460                  Abomasnow    Grass  ...    60           4      False
511  460    AbomasnowMega Abomasnow    Grass  ...    30           4      False
68    63                       Abra  Psychic  ...    90           1      False
392  359                      Absol     Dark  ...    75           3      False
393  359            AbsolMega Absol     Dark  ...   115           3      False
678  617                   Accelgor      Bug  ...   145           5      False
750  681       AegislashBlade Forme    Steel  ...    60           6      False
751  681      AegislashShield Forme    Steel  ...    60           6      False
153  142                 Aerodactyl     Rock  ...   130           1      False
154  142  AerodactylMega Aerodactyl     Rock  ...   150           1      False

[10 rows x 12 columns]